body {
    color: #fff;
    background-color: #006A4D;
}

.stButton>button {
    color: #006A4D;
    border-radius: 50%;
    height: 3em;
    width: 10em;
}

.stTextInput>div>div>input {
    color: #006A4D;
}
