body {
    color: #fff;
    background-color: #0666A4D;
}

.stButton>button {
    color: #69BE28;
    border-radius: 50%;
    height: 3em;
    width: 10em;
}

.stTextInput>div>div>input {
    color: #00A657;
}
