body {
    color: #fff;
    background-color: #006A4D;
}

.stButton>button {
    color: #006A4D;
    border-radius: 50%;
    height: 3em;
    width: 10em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.stTextInput>div>div>input {
    color: #006A4D;
}
